<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="{ADMIN_THEME}images/reset.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/system.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/dialog.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/main.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/switchbox.css" rel="stylesheet" type="text/css" />
<link href="{ADMIN_THEME}images/table_form.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{ADMIN_THEME}js/jquery.min.js"></script>
<script type="text/javascript" src="{ADMIN_THEME}js/dialog.js"></script>
<title>admin</title>
</head>
<body style="font-weight: normal;">
<div class="subnav">
	<div class="table-list">
		<table width="100%" cellspacing="0" id="imgPreview">
		<tbody>
		<tr>
		    <td align="left">{lang('a-att-4')}：{$dir}</td><td></td>
		</tr>
		{if $istop}
		<tr>
		    <td align="left"><a href="{$pdir}"><img src="{ADMIN_THEME}images/folder-closed.gif">{lang('a-att-5')}</a></td><td></td>
		</tr>
		{/if}
		{loop $list $k=>$t}
		<script type="text/javascript">
		function fileview_{$k}() {
			var content = "{lang('a-att-6')}：{$t['fileinfo']['path']}<br>{lang('a-att-7')}：{$t['fileinfo']['time']}<br>{lang('a-att-8')}：{$t['fileinfo']['size']}<br>{lang('a-att-9')}：{$t['fileinfo']['ext']} &nbsp;&nbsp;<a href='{$t['fileinfo']['path']}' target=_blank>{lang('a-att-10')}</a>";
			window.top.art.dialog({title:'{lang('a-att-11')}',fixed:true, content: content});
		}</script>
		<tr>
			<td align="left">
			<input name="id" id="thumb_{$k}" type="hidden" value="{$dir}{$t['name']}">
			<img src="{ADMIN_THEME}images/ext/{$t['ico']}">
			&nbsp;<a href="{if $t['url']}{$t['url']}{else}  {if $t['isimg']} javascript:preview('thumb_{$k}'); {else} javascript:fileview_{$k}(); {/if} {/if} ">{$t['name']}</a></td>
			<td width="20%">
			{if !$t['isdir']}
			<a onClick="{if $t['isimg']} javascript:preview('thumb_{$k}'); {else} javascript:fileview_{$k}(); {/if}" href="javascript:;">{lang('a-att-12')}</a> | 
			{/if}
			<a onClick="copyToClipboard('{$dir}{$t['name']}')" href="javascript:;">{lang('a-att-13')}</a> | 
			<a onClick="del('{$t['dir']}',{$t['isdir']})" href="javascript:;">{lang('a-del')}</a></td>
		</tr>
		{/loop}
		</tbody>
		</table>
	</div>
</div>
<script type="text/javascript">
function del(name, id){
	var msg = '';
	if(id==1) {
		msg = '{lang('a-att-14')}';
	} else {
		msg = '{lang('a-att-15')}';
	}
	if(confirm(msg)){
		var url = "{url('admin/attachment/del/',array('name'=>''))}"+name;
		window.location.href=url;
	}
}
function preview(obj) {
	var filepath = $('#'+obj).val();
	if (filepath) {
		var content = '<img src="{SITE_PATH}'+filepath+'" />';
	} else {
		var content = '{lang('a-att-16')}';
	}
	window.top.art.dialog({title:'{lang('a-att-17')}',fixed:true, content: content});
}
function copyToClipboard(meintext) {
    if (window.clipboardData){
        window.clipboardData.setData("Text", meintext);
    } else if (window.netscape){
        try {
            netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
        } catch (e) {
            alert("{lang('a-att-18')}"); 
		} 
        var clip = Components.classes['@mozilla.org/widget/clipboard;1'].
        createInstance(Components.interfaces.nsIClipboard);
        if (!clip) return;
        var trans = Components.classes['@mozilla.org/widget/transferable;1'].
        createInstance(Components.interfaces.nsITransferable);
        if (!trans) return;
        trans.addDataFlavor('text/unicode');
        var len = new Object();
        var str = Components.classes["@mozilla.org/supports-string;1"].
        createInstance(Components.interfaces.nsISupportsString);
        var copytext=meintext;
        str.data=copytext;
        trans.setTransferData("text/unicode",str,copytext.length*2);
        var clipid=Components.interfaces.nsIClipboard;
        if (!clip) return false;
        clip.setData(trans,null,clipid.kGlobalClipboard);
    }
    alert("{lang('a-att-19')}");
    return false;
}
</script>
</body>
</html>